
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i');

*, *::before, *::after {
  font-family: 'Playfair Display:400,900i', serif;
  box-sizing:  border-box;
}
h1
{
    font-weight:        900i;
    font-size:          2rem;
}
body {
    margin: 0;
    background-color:   #ffffff;
    /* display:         flex;
    flex-direction:     column;
    height:             100vh; */
}

.main-container{
    display: flex;
}     
footer{
    background-color:   grey;
    padding:            20px;
    color:              white;
}
.toolbar {
    background-color:   #1972be; 
    padding:            10px; 
    color:              white;
    display:            flex; 
    justify-content:    space-between;
    position:           fixed;
    align-items:        center;
    z-index:            100;
    width:              100%;
    padding-left:       10;
}
.sticky-toolbar-spacer {
    display:            block;
    width:              100%;
    padding-top:        5%;
}
.post {
    background-color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 20px;
    padding: 10px;
    position: relative;
}
    .posts-container {
    overflow:           auto;
    flex-grow:          80;
}
img.avatar {
    display:            block;
    width:              40px;
    height:             40px;
    object-fit:         cover;
    border-radius:      50px;
    box-shadow:         0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}  
.ribbon.new-post {
    background-color:   #47ff95;
    position:           absolute;
    top:                15;
    right:              0;
    transform:          rotateZ(45deg);
    padding:            20px;
}
.toolbar-spacer {
    flex-grow:              1;

}
.menu-icon {

}
@media (min-width:     600px)
{.menu-icon
    {display:           none;}
}